#---------------------------------------#
# OSX Ignores                           #
#---------------------------------------#

.DS_Store
.AppleDouble
.LSOverride
.localized

#---------------------------------------#
# Project Ignores                       #
#---------------------------------------#

