img {
    width: 42%;
    height: 42%;
    float: right;
}
#app {
    height: auto;
    width: 53%;
    position: absolute;
    top: 0px;
    bottom: 0;
    float: left;
}
#button-container {
margin-right:10px;
    margin-top: 700px;
    float: right;
}