<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>Collaborate MEI</title>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
<img src= ../data/jpg/IMSLP109835-PMLP30951-sibley.1802.1525.beethoven.andante.fmajor.pdf_1.jpg/>
    <div class="panel" id="right" style="border: 1px solid lightgray; min-height: 800px;"></div>
    <div id="container">
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    </div>
</div>
<div class="panel-body">
    <div class="panel" id="app" style="border: 1px solid lightgray; min-height: 800px;"></div>
    <div id="button-container">
        <button id="saveButton" type="button">Save</button>
    </div>
</div>
</body>
<script src="../js/verovio.js" type="module"></script>
<script src="../js/scores.js"></script>
</html>