<link href="css/new.css" rel="stylesheet"/>

<div id="upload-box">
  <div class="left">
    <h1>Upload File</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="text" name="composer name" placeholder="Composer Name" />
      <input type="text" name="composition name" placeholder="Composition Name" />
      <select>
        <option Value="Piano">Piano</option>
        <option Value="Violin">Violin</option>
        <option Value="Guitar">Guitar</option>
        <option Value="Trumpet">Trumpet</option>
      </select>
      <input type="file" name="file">
      <input type="submit" name="button" class="btn btn-success" value="Upload File">
    </form>
  </div>

  <div class="right">
    <button class="go_mei" onClick="location.href='mei_page.html'" type="button">Get New MEI</button>
  </div>
  <div class="or">OR</div>
</div>
<script type="module" src="js/verovio.js"></script>
<script src="js/scores.js"></script>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Collaborate MEI</title>-->
<!--    <link rel="stylesheet" href="../css/style.css">-->
<!--</head>-->
<!--<body>-->
<!--    <img src="../../data/images/IMSLP109835-PMLP30951-sibley.1802.1525.beethoven.andante.fmajor.jpg">-->
<!--    <div class="panel-body">-->
<!--        <div id="app" class="panel" style="border: 1px solid lightgray; min-height: 800px;"></div>-->
<!--        <div id="button-container">-->
<!--            <button id="saveButton" type="button">Save</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->
<!--<script type="module" src="../js/verovio.js"></script>-->
<!--<script src="../js/scores.js"></script>-->
<!--</html>-->
